@model List<AmsApp.Dto.CallDto>

<div class="col-xl-12">
    <div class="card">
        <div class="card-header border-0 pb-0">
            <div class="mr-auto d-lg-block text-center">
                <h2 class="fs-18 font-w600 mb-0">Appointments</h2>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="CallDate"><b></b> </label>
                    <input type="date" class="form-control" id="CallDate" name="CallDate" value="@ViewBag.Date">
                </div>
            </div>
            <div class="basic-list-group">
                <ul class="list-group">
                    @foreach (var item in Model)
                    {

                        <li class="list-group-item  d-flex justify-content-between"><span class="left"><strong>@item.MaskedMobile</strong><br /><strong>@item.Name</strong></span><a onclick="call(@item.Id);" data="@item.Id" href="javascript:"><span class="btn-icon-left btn-lg text-primary"><i class="fa fa-phone"></i></span></a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Views/OBCall/Appointments.cshtml.js"></script>
}