@model List<AmsApp.Dto.CallDto>

<div class="col-xl-12">
    <div class="card">
        <div class="card-header border-0 pb-0">
            <div class="mr-auto d-lg-block text-center">
                <h2 class="fs-18 font-w600 mb-0">Appointments</h2>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="CallDate"><b></b> </label>
                    <input type="date" class="form-control" id="CallDate" name="CallDate" value="@ViewBag.Date">
                </div>
            </div>
            <div class="basic-list-group">
                <ul class="list-group">
                    @foreach (var item in Model)
                    {
                        <li class="list-group-item justify-content-between">
                            <table style="width:100%;">
                                <tr>
                                    <td style="width:95%;">
                                        <strong>@item.MaskedMobile</strong>
                                    </td>
                                    <td style="width:5%;">
                                        <a onclick="visit(@item.Id);" data="@item.Id" href="javascript:"><span class="btn-icon-left btn-lg text-danger"><i class="fa fa-pencil"></i></span></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style ="width:95%;">
                                        <strong>@item.Name</strong>
                                    </td>
                                    <td style="width:5%;" align="right">
                                        <a onclick="call(@item.Id);" data="@item.Id" href="javascript:"><span class="btn-icon-left btn-lg text-primary"><i class="fa fa-phone"></i></span></a>
                                    </td>
                                </tr>
                            </table>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Views/OBCall/Appointments.cshtml.js" asp-append-version="true"></script>
}