@model AmsApp.Models.OBLead
<style>
    .bootstrap-select .dropdown-menu {
        width: 100%;
    }

    .bootstrap-select .dropdown-menu li small {
        white-space: normal;
    }
</style>
<div class="col-xl-12 pl-0 pr-0">
    <div class="card">
        <div class="card-header border-0 pb-0">
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-12 pb-3 pt-2 center">
                    <label><b>@Model.MaskedMobile</b> </label>
                    <input type="hidden" asp-for="Mobile" />
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="StartTime" />
                    <input type="hidden" asp-for="Disposition" />
                </div>
                <div class="form-group col-md-12  pb-3 preappt">
                    <label asp-for="Name"><b>Name</b> </label>
                    <input type="text" class="form-control" asp-for="Name" placeholder="Enter Name....">
                </div>
                <div class="form-group col-md-12  pb-3 preappt">
                    <label asp-for="Gender"><b>Gender</b> </label>
                    <select class="form-control" asp-for="Gender">
                        <option value="" selected>Choose...</option>
                    </select>
                    <input type="hidden" value="@Model.Gender" id="hvGender" name="hvGender" />
                </div>
                <div class="form-group col-md-12  pb-3 preappt">
                    <label asp-for="Age"><b>Age</b> </label>
                    <input type="number" class="form-control" asp-for="Age" placeholder="Enter Age....">
                </div>
                <div class="form-group col-md-12  pb-3 preappt">
                    <label asp-for="MainDisease"><b>MainDisease</b> </label>
                    <select class="form-control" asp-for="MainDisease">
                        <option value="" selected>Choose...</option>
                    </select>
                    <input type="hidden" value="@Model.MainDisease" id="hvMainDisease" name="hvMainDisease" />
                </div>
                <div class="form-group col-md-12  pb-3 preappt">
                    <label asp-for="SubDisease"><b>SubDisease</b> </label>
                    <select class="form-control" asp-for="SubDisease">
                        <option value="" selected>Choose...</option>
                    </select>
                    <input type="hidden" value="@Model.SubDisease" id="hvSubDisease" name="hvSubDisease" />
                </div>
                <div class="form-group col-md-12  pb-3 preappt">
                    <label asp-for="ClinicBranch"><b>ClinicBranch</b> </label>
                    <select class="form-control" asp-for="ClinicBranch">
                        <option value="" selected>Choose...</option>
                    </select>
                    <input type="hidden" value="@Model.ClinicBranch" id="hvClinicBranch" name="hvClinicBranch" />
                </div>
                <div class="form-group col-md-12  pb-3 preappt">
                    <label asp-for="Address"><b>Address</b> </label>
                    <input type="text" class="form-control" asp-for="Address" placeholder="Enter Address....">
                </div>
                <div class="form-group col-md-12  pb-3 preappt">
                    <label asp-for="AppointmentDate"><b>Appointment Date</b> </label>
                    <input type="datetime-local" class="form-control" asp-for="AppointmentDate" placeholder="Enter Appointment Date....">
                    <input type="hidden" value="@ViewBag.Date" id="hvAppointmentDate" name="hvAppointmentDate" />
                </div>
                <div class="form-group col-md-12  pb-3 calba">
                    <label asp-for="NextCallDate"><b>Next Call Date</b> </label>
                    <input type="date" class="form-control" asp-for="NextCallDate" placeholder="Enter Next Call Date....">                    
                </div>
                <div class="col-md-12 pb-3">
                    <button type="button" id="btnSave" class="btn btn-rounded btn-primary btn-lg btn-block"><strong>Save</strong></button>
                </div>
                <div class="alert alert-danger" style="display:none;" id="alertError" name="alertError">
                    <span><label name="lblError" id="lblError"></label></span>
                </div>
                <div class="alert alert-success" style="display:none;" id="alertSuccess" name="alertSuccess">
                    <span><label name="lblSuccess" id="lblSuccess"></label></span>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Views/OBCall/OnCallApp.cshtml.js" asp-append-version="true"></script>
}
