@model AmsApp.Dto.LeadCountDto
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <div class="widget-stat card bg-info">
            <div class="card-body p-4">
                <a asp-controller="OBCall" asp-action="Index" aria-expanded="false">
                    <div class="media">
                        @* <span class="mr-3">
                        <i class="flaticon-381-database"></i>
                        </span>*@
                        <div class="media-body text-white text-left">
                            <p class="mb-1">Available/Leads</p>
                            <h5 class="text-white">@Model.NewLeads.ToString("000")/@Model.TotalLeads.ToString("000")</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <div class="widget-stat card bg-success">
            <div class="card-body p-4">
                <a asp-controller="OBCall" asp-action="Index" aria-expanded="false">
                    <div class="media">
                        @* <span class="mr-3">
                        <i class="flaticon-381-phone-call"></i>
                        </span>*@
                        <div class="media-body text-white text-left">
                            <p class="mb-1">Calls/Duration</p>
                            <h5 class="text-white">@Model.TotalCalls.ToString("000")/@Model.TotalTime.ToString("000")min</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <div class="widget-stat card bg-warning">
            <div class="card-body p-4">
                <div class="media">
                    <div class="media-body text-white text-left">
                        <p class="mb-1">Appointments/ Visited</p>
                        <h5 class="text-white">@Model.Appointments.ToString("000")/@Model.Visited.ToString("000")</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <div class="widget-stat card bg-danger">
            <div class="card-body  p-4">
                <div class="media">
                    <div class="media-body text-white text-left">
                        <p class="mb-1">Speed</p>
                        <h5 class="text-white">@Model.Speed</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <div class="widget-stat card bg-info">
            <div class="card-body p-4">
                <a asp-controller="OBCall" asp-action="NextCallDate" asp-route-calldate="@DateTime.Today.ToString("yyyy-MM-dd")" aria-expanded="false">
                    <div class="media">
                        <div class="media-body text-white text-left">
                            <p class="mb-1">Next Call Date</p>
                            <h5 class="text-white">@Model.NextCallDateCount</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <div class="widget-stat card bg-success">
            <div class="card-body  p-4">
                <div class="media">
                    <div class="media-body text-white text-left">
                        <p class="mb-1">Interested</p>
                        <h5 class="text-white">@Model.Interested</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <div class="widget-stat card bg-warning">
            <div class="card-body  p-4">
                <div class="media">
                    <div class="media-body text-white text-left">
                        <p class="mb-1">Callback</p>
                        <h5 class="text-white">@Model.Callback</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 pl-5 pr-5">
    <a id="btnCall" asp-controller="Home" asp-action="Index" class="btn btn-rounded btn-success btn-lg btn-block"><span class="btn-icon-left text-primary"><i class="fa fa-refresh"></i></span><strong>Refresh</strong></a>
</div>

@section Scripts{
    <script src="~/Views/Home/Index.cshtml.js"></script>
}